<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/api/pizzas" class="btn btn-info">Pizza list</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/api/addpizza" class="btn btn-info">Create new pizza</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 d-flex flex-row">
          <ul class="nav navbar-nav">
              <a routerLink="/api/pizzas" class="btn btn-light">Pizza list</a>
              <a routerLink="/api/addpizza" class="btn btn-light">Create new pizza</a>
          </ul>
      </div>
      <div class="col-lg-2 d-flex flex-row-reverse">
        <img src="assets/images/pizza.png" alt="pizza.jpg" class="rounded float-right" style="background:transparent;width:70px;height:50px;">
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>